@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;

<ul class="navbar-nav ms-auto">
    @if (signInManager.IsSignedIn(User))
    {
        <li>
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Sair</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Admin" asp-action="Index">Area Adm</a>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Entrar</a>
        </li>

        <li>
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Registrar</a>
        </li>
    }
</ul>



