@model AccountViewModel
<body>
    <div class="container d-flex justify-content-center align-items-center">
        <form asp-controller="Account" asp-action="Login" method="post" class="formedit">
            <h1>Login</h1>
            <div class="mb-3">
                <input asp-for="Name" class="input-field" placeholder="Nome" required />
            </div>
            <div class="mb-3">
                <input asp-for="Password" class="input-field" placeholder="Senha" required />
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="rememberMe">
                <label for="rememberMe">Lembrar-me</label>
                <a asp-controller="Account" asp-action="Forgot">Esqueceu a Senha?</a>
            </div>
            <div class="create">
                <p>Não tenho uma Conta? <a asp-controller="Account" asp-action="Register">Criar uma conta</a></p>
            </div>
            <button type="button" class="btn btn-primary w-100">Entrar</button>
        </form>
    </div>
</body>



